<header>
    <div class="navbar-logo">
        <img src="../../../assets/logoSpa-removebg-preview.png" alt="Movie Ratings Logo">
      </div>
    <!-- <h1>Welcome to RMN!</h1> -->
</header>

<nav>
    
    <ul *ngIf="isLogged" >
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/home">{{username}}'s profile</a></li>
        <li><a routerLink="/catalogMovies">All Movies</a></li>
        <li><a routerLink="/createMovie">Create Movie</a></li>
        <li (click)="logout()"><a>Logout</a></li>
    </ul>
 
    <ul  *ngIf="!isLogged">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
    </ul>

</nav>