<body>
    <div class="profile-container">
      <div class="profile-header">
      
        <div class="profile-info">
          <h2 class="username">{{profileDetails.username}}</h2>
          <p class="email">{{profileDetails.email}}</p>
        </div>
      </div>
  
      <h3>Bookmarked Movies</h3>
      <div class="bookmarked-movies" *ngIf="!errorMessage" >
        
        <div class="movie-card" *ngFor="let movie of bookmarkedMovies">
          <div class="movie-thumbnail">
            <!-- Movie thumbnail goes here -->
            <!-- You can use an <img> tag for the movie poster -->
            <img src="{{movie.image}}" alt="">
          </div>
          <div class="movie-details">
            <h4 class="movie-title">{{movie.title}}</h4>
            <p class="movie-genre">{{movie.genre}}</p>
            <p class="movie-description">{{movie.description}}</p>
            <div class="movie-rating">
              <span class="rating-value">8.5</span>
              <span class="rating-out-of">/10</span>
            </div>
          </div>
          
        </div>
        <!-- Add more movie cards here for each bookmarked movie -->
     
      </div>
      <div class="no-movies" *ngIf="errorMessage || !bookmarkedMovies" >
        <p>{{errorMessage}}</p>
    </div>
      
    </div>
  </body>
