body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    /* You can add background-image and background-size properties for the profile picture */
  }
  
  .profile-info {
    margin-left: 20px;
  }
  
  .username {
    font-size: 24px;
    margin: 0;
  }
  
  .email {
    font-size: 16px;
    margin: 0;
    color: #666;
  }
  
  .bookmarked-movies {
    border-top: 2px solid #ccc;
    padding-top: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .movie-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .movie-thumbnail {
    flex: 0 0 200px;
    height: 112.5px; /* For 16:9 aspect ratio */
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .movie-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .movie-details {
    flex: 1;
  }
  
  .movie-title {
    font-size: 24px;
    margin: 0;
    margin-bottom: 8px;
  }
  
  .movie-genre {
    font-size: 14px;
    margin: 0;
    margin-bottom: 12px;
    color: #666;
  }
  
  .movie-description {
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
  }
  
  .movie-rating {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #f39c12;
  }
  
  .rating-value {
    margin-right: 4px;
  }
  
  .rating-out-of {
    color: #666;
  }
  
  
  /* Add more styles here as needed */

  .no-movies {
    border-top: 4px solid #028476;
    border-bottom: 4px solid #028476;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20),
        0 2px 10px 0 rgba(0, 0, 0, 0.586);
    background-color:#A5CFE3;
    width: auto;
    height: 100px;
    margin: auto;
}

.no-movies p {
    font-size: 30px;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    font-weight: 600;
    color: #00221C;
 
}


.movie-card:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}