* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h2 {
    text-align: center;
}
form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .main-content {
        padding: 10px;
    } 

    header h1 {
        font-size: 24px;
    }
} 