<div class="movie-details" *ngIf="movie">
    <div class="movie-info">
        <div class="info-row">
            <h2>Title: </h2>
            <span>{{ movie.title }}</span>
          </div>
          <div class="info-row">
            <h3>Release Date: </h3>
            <span>{{ movie.date }}</span>
          </div>
          <div class="info-row">
            <h3>Genre: </h3>
            <span>{{ movie.genre }}</span>
          </div>
          <div class="info-row">
            <h3>Description:</h3>
            <span>{{ movie.description }}</span>
          </div>
          
      <!-- <div class="vote-buttons">
        <button (click)="upvote()" class="vote-btn">Upvote</button>
        <button (click)="downvote()" class="vote-btn">Downvote</button>
      </div>
      <div class="vote-count">
        <p>Upvotes: {{ movie.upVotes }}</p>
        <p>Downvotes: {{ movie.downVotes }}</p>
      </div> -->
      <div class="info-row" >
        <h3>Bookmark: </h3>
        <button (click)="bookmark()" class="bookmark-btn" *ngIf="!isBookmarked">Bookmark Here</button>
        <!-- <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p> -->
        <a routerLink="/profile" class="read-more" *ngIf="isBookmarked"> You've bookmarked this movie! Go to bookmarks. </a>
      </div>
      <button (click)="deleteMovie()" class="delete-btn" *ngIf="isOwner" >Delete</button>
      <button routerLink="/movies/{{movie._id}}/edit" class="edit-btn" *ngIf="isOwner" >Edit</button>
      <p class="error-message" *ngIf="errorMessage" >{{errorMessage}}</p>
    </div>
    <div class="movie-image">
      <img src="{{ movie.image }}" alt="Movie Image">
    </div>
  </div>
 